@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');

:root {
  font-family: 'Fira Sans';

  --background-color: #231F42;
  --input-color: #38335c;
  --lt-grey-font: #D0D0D0;
  --pink-font-shadow-border: #F56B9A;
  --turquoise-font-button: #37AEAB;
  --white-font: #FFFFFF;
}

* {
  border-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  display: flex;
  place-items: center;
  width: 23.5rem;
  min-height: 42rem;
  background-color: var(--background-color);
  color: var(--white-font);
}

p {
  font-size: 0.8rem;
  color: var(--lt-grey-font);
  font-style: italic;
  letter-spacing: 0.3px;
}

h1, h2 {
  font-family: 'Sansita';
  font-style: italic;
  color: var(--pink-font-shadow-border);
}

h1 {
  font-size: 2rem;
}

h2 {
  text-align: center;
  padding: 2rem;
  font-size: 2.2rem;
}

h3 {
  color: var(--turquoise-font-button);
}

h4 {
  color: var(--lt-grey-font);
}

h5 {
  font-size: 1rem;
}

h6 {
  font-family: 'Sansita';
  font-size: 1.5rem;
  color: var(--white-font);
  text-shadow: 1px 1px 0px #F56B9A;
  letter-spacing: 1.3px;
  
}

button {
  /* position: absolute; */
  font-size: 1.5rem;
  font-family: 'Fira Sans';
  font-weight: 800;
  letter-spacing: 0.8px;
  width: 19.4rem;
  height: 3.75rem;
  background: var(--turquoise-font-button);
  color: var(--white-font);
  border-radius: 3px;
  cursor: pointer;
}

/* events start */

input {
  background-color: var(--input-color);
  width: 19rem;
  height: 2.5rem;
  background-image: url(./images/search.png);
  background-repeat: no-repeat;
  background-position: 0.5rem center;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.event-cards-container {
  margin-bottom: 2rem;
}

.event-card-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  margin: 1rem 2rem 0 2rem;
}

.date-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px var(--white-font);
  width: 1.375rem;
  height: 1.375rem;
  padding: 1.2rem 1.7rem 2.2rem 1.7rem;
  border-radius: 3px;
  text-transform: uppercase;
  margin-right: 1rem;
}

.event-box {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  border-bottom: 1px solid var(--lt-grey-font);
  width: 100%;
  padding-bottom: 0.5rem;
}

.price-box {
  position: absolute;
  bottom: 8px;
  right: 0;
}

/* events end*/

/* event start */

.event-price {
  display: grid;
  grid-template-areas:
  "a a a"
  "b c d";
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  width: 14.375rem;
  height: 8.125rem;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  grid-gap: 1px;
  background-color: var(--white-font);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.total-price, .decrease-ticket, .increase-ticket, .ticket-count {
  background-color: var(--background-color);
}

.total-price {
  grid-area: a;
  border-bottom: none;
}

.decrease-ticket {
  grid-area: b;
}

.ticket-count {
  grid-area: c;
}

.increase-ticket {
  grid-area: d;
}





/* event end*/





















/* button:hover {
  background-color: var(--white-font);
  color: var(--turquoise-font-button);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
/*   
  button {
    background-color: #f9f9f9;
  } */
}
