@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');

:root {
  font-family: 'Fira Sans';

  --background-color: #231F42;
  --lt-grey-font: #D0D0D0;
  --pink-font-shadow-border: #F56B9A;
  --turquoise-font-button: #37AEAB;
  --white-font: #FFFFFF;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0 auto;
  display: flex;
  place-items: center;
  width: 23.5rem;
  height: 42rem;
  background-color: var(--background-color);
}

h1, h2 {
  font-family: 'Sansita';
  font-style: italic;
  color: var(--pink-font-shadow-border);
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

button {
  position: absolute;
  width: 19.4rem;
  height: 3.75rem;
  background: var(--turquoise-font-button);
  color: var(--white-font);
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: var(--white-font);
  color: var(--turquoise-font-button);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
